div{
    height: 400px;
    width: 300px;
    background-color: red;
    border-radius: 30px;
    padding: 15px;
}

p{
    background-color: yellow;
}

.one{
    height: 400px;
    width: 300px;
    background-color: yellowgreen;
    transition: 3s;
}